---
import { DirectusArticlesCategoryResponseSchema } from '@/types';
const catUrl = `${import.meta.env.API_ITEMS}/galleries_tags`;
const catResponse = await fetch(catUrl);
const catJson = await catResponse.json();
const catData = DirectusArticlesCategoryResponseSchema.parse(catJson);

// console.log(catData);
---

<div class="mt-5 md:mt-30 my-3 flex flex-wrap gap-2 justify-center">
  {
    catData.data.map((cat) => (
      <a
        href={`/blog/etiqueta/${cat.slug}`}
        class="inline-block py-1 px-5 text-sm text-white m-1 bg-dark neo-border-cyan neo-shadow-cyan neo-hover-cyan transition-neo"
      >
        {cat.name}
      </a>
    ))
  }
</div>
