---
import { CategoriesSchema } from '@/types';
const catUrl = `${import.meta.env.API_URL}/autores?per_page=20`;
const catResponse = await fetch(catUrl);
const catJson = await catResponse.json();
const catData = CategoriesSchema.parse(catJson);

// console.log(catData);
---

<div>
  <h2
    class="mx-10 md:mx-auto my-10 text-3xl md:text-5xl font-black uppercase text-white flex items-center gap-4"
  >
    <span class="w-8 h-8 bg-neon-pink inline-block neo-shadow-cyan"></span>
    Otros autores
    <span
      class="flex-grow h-2 bg-gradient-to-r from-neon-pink via-neon-cyan to-neon-green"
    ></span>
  </h2>

  <div class="mt-5 my-10 flex flex-wrap gap-2 justify-center">
    {
      catData.map((cat) => (
        <a
          href={`/blog/autor/${cat.slug}`}
          class="inline-block py-1 px-5 text-sm text-white m-1 bg-dark neo-border-cyan neo-shadow-cyan neo-hover-cyan transition-neo"
        >
          {cat.name}
        </a>
      ))
    }
  </div>
</div>
