---
import { formatDate } from '@/helpers';

interface Props {
  date: string;
}

const { date } = Astro.props;
---

<p class="text-sm">
  Publicado el: <span class="text-neon-cyan">{formatDate(date)}</span>
</p>
