---
interface Props {
  name: string;
  slug: string;
}

const { name, slug } = Astro.props;
---

<a
  href={`/galerias/etiqueta/${slug}`}
  class="max-w-xs inline-block py-1 px-5 text-sm text-white ml-2 mr-2 bg-dark neo-border-cyan neo-shadow-cyan neo-hover-cyan transition-neo"
>
  {name}
</a>
