---
import SwiperGalleryReact from './SwiperGallery';
import { DirectusGalleriesCollectionResponseSchema } from '@/types';

const url = `${import.meta.env.API_ITEMS}/galleries?fields=*,gallery_category.*,gallery_tag.*,author.*,gallery.directus_files_id.id,gallery.directus_files_id.filename_disk,gallery.directus_files_id.filename_download,gallery.directus_files_id.title,gallery.directus_files_id.type,gallery.directus_files_id.width,gallery.directus_files_id.height,gallery.directus_files_id.filesize`;
const res = await fetch(url);
const json = await res.json();
const data = DirectusGalleriesCollectionResponseSchema.parse(json);
// console.log(data);
---

<section class="swiper-gallery pb-15">
  <div data-aos="zoom-out-down" class="mx-auto max-w-7xl">
    <SwiperGalleryReact client:load slides={data} />
  </div>
</section>
