---
import CoreLayout from '@/layouts/CoreLayout.astro';
import bg from '@/assets/bg_404.jpg';
---

<CoreLayout
  title="404 - Página no encontrada"
  subtitle="¡Ups!"
  bgImage={bg.src}
>
  <div class="md:mt-15 p-20">
    <h1 class="text-white text-center text-2xl md:text-3xl font-bold">
      ¡Ups! No existe contenido
    </h1>
    <p class="text-center text-lg md:text-xl mt-5 text-gray-300">
      Tal vez quieras volver al {''}
      <a href="/" class="text-neon-yellow font-bold">Inicio</a>
    </p>
  </div>
</CoreLayout>
