---
import CoreLayout from '@/layouts/CoreLayout.astro';
import { DirectusContactPageResponseSchema } from '@/types';
import LocationMap from '@/components/contact/LocationMap.astro';
import ContactForm from '@/components/contact/ContactForm.astro';
const url = `${import.meta.env.API_ITEMS}/pages?filter[slug][_eq]=contacto`;
const response = await fetch(url);
const json = await response.json();
const pageData = DirectusContactPageResponseSchema.parse(json);
const { data } = pageData;
// console.log(data[0]);
---

<CoreLayout
  title="Contacto"
  subtitle={data[0]?.subtitle || ''}
  bgImage={data[0]?.cover_image || ''}
>
  <div class="text-xl space-y-3 mt-10 lg:mt-0" set:html={data[0]?.content} />
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mt-5">
    <ContactForm />
    <LocationMap location={data[0]?.location?.location} />
  </div>
</CoreLayout>
