---
import { formatDate } from '@/helpers';

interface Props {
  date: string;
  author: string;
}

const { date, author } = Astro.props;
---

<div class="text-sm">
  <p>Publicado el: <span class="text-neon-cyan">{formatDate(date)}</span></p>
  {
    author && (
      <p>
        Autor:{' '}
        <span class="text-neon-cyan">
          <a href="/blog/autor/">{author}</a>
        </span>
      </p>
    )
  }
</div>
