---
import { ClientRouter, fade, slide } from 'astro:transitions';
import '@/styles/global.css';
import CoreHeader from '@/components/ui/CoreHeader.astro';
import CoreFooter from '@/components/ui/CoreFooter.astro';

// interface Props {
//   title: string;
//   subtitle: string;
//   bgImage: string;
// }

// const { title, subtitle, bgImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Core Hub Plex</title>
    <meta property="og:image" content="/fijacion.webp" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&family=JetBrains+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>

  <body class="antialiased selection:bg-neon-pink selection:text-white">
    <CoreHeader transition:animate={fade({ duration: '.5s' })} />

    <main class="bg-dark max-w-7xl mx-auto lg:-mt-20 px-3 md:px-0 relative">
      <div transition:animate={slide({ duration: '1s' })}>
        <slot />
      </div>
    </main>

    <slot name="after-main-content" />

    <CoreFooter transition:animate={fade({ duration: '.5s' })} />
  </body>
</html>

<script>
  const mobileMenuBtn = document.getElementById('mobile-menu-btn');
  const mobileMenu = document.getElementById('mobile-menu');

  if (mobileMenuBtn && mobileMenu) {
    mobileMenuBtn.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
      mobileMenuBtn.classList.toggle('menu-icon');
      mobileMenuBtn.classList.toggle('close-icon');
    });

    document.querySelectorAll('#mobile-menu a').forEach((link) => {
      link.addEventListener('click', () => {
        mobileMenu.classList.add('hidden');
        mobileMenuBtn.classList.remove('close-icon');
        mobileMenuBtn.classList.add('menu-icon');
      });
    });
  }
</script>
