---

---

<div
  id="mobile-menu"
  class="hidden md:hidden top-25 left-0 px-4 absolute w-full h-full bg-dark dark:bg-dark border-b-4 border-black dark:border-primary"
>
  <div class="py-4 pt-4 px-4 space-y-4 flex flex-col bg-dark">
    <a
      href="#about"
      class="block px-2 py-4 text-lg font-bold border-4 border-black dark:border-white hover:bg-primary hover:text-black text-center uppercase"
      >Acerca de</a
    >
    <a
      href="/blog"
      class="block px-2 py-4 text-lg font-bold border-4 border-black dark:border-white hover:bg-primary hover:text-black text-center uppercase"
      >Blog</a
    >
    <a
      href="/galerias"
      class="block px-2 py-4 text-lg font-bold border-4 border-black dark:border-white hover:bg-primary hover:text-black text-center uppercase"
      >Galerías</a
    >
    <a
      href="/colaboradores"
      class="block px-2 py-4 text-lg font-bold border-4 border-black dark:border-white hover:bg-primary hover:text-black text-center uppercase"
      >Colaboradores</a
    >
  </div>
</div>
