---

---

<div
  id="mobile-menu"
  class="hidden md:hidden fixed inset-x-0 top-0 h-dvh z-40 bg-dark overflow-y-auto"
>
  <div class="pt-28 px-6 pb-8 space-y-4 flex flex-col">
    <a
      href="#about"
      class="block px-2 py-4 text-lg font-bold bg-dark text-white neo-border-pink neo-shadow-cyan neo-hover-cyan transition-neo cursor-pointer text-center uppercase"
      >Acerca de</a
    >
    <a
      href="/blog"
      class="block px-2 py-4 text-lg font-bold bg-dark text-white neo-border-pink neo-shadow-cyan neo-hover-cyan transition-neo cursor-pointer text-center uppercase"
      >Blog</a
    >
    <a
      href="/galerias"
      class="block px-2 py-4 text-lg font-bold bg-dark text-white neo-border-pink neo-shadow-cyan neo-hover-cyan transition-neo cursor-pointer text-center uppercase"
      >Galerías</a
    >
    <a
      href="/colaboradores"
      class="block px-2 py-4 text-lg font-bold bg-dark text-white neo-border-pink neo-shadow-cyan neo-hover-cyan transition-neo cursor-pointer text-center uppercase"
      >Colaboradores</a
    >
  </div>
</div>
